
  .upsells .content-panel.selected .card-panel .check-mark {
    margin: auto;
    left: 0 !important;
    right: 0 !important;
    top: 35px !important;
    bottom: auto !important;
  }

  .upsells
  .content-panel
  .card-panel
  .name-img-panel
  .item-image {
    width: 100%;
    display: block;
    margin: auto;
    height: 100% !important;
    width: 100% !important;
  }
  .upsells .content-panel .card-panel .name-img-panel {
    align-items: flex-start !important;
    margin-left: -5px !important;
  }
  .upsells .content-panel .card-panel {
    padding: 0px 10px 20px 10px !important;
  }
  .upsells
  .content-panel
  .card-panel
  .name-img-panel
  .name-panel {
    padding-left: 0px !important;
    padding-top: 15px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 16px;
  }


.upsells .content-panel {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media screen and (max-width: 899px) {
  .upsells
  .content-panel
  .card-panel
  .name-img-panel
  .name-panel {
    padding-left: 0px !important;
    padding-top: 15px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 15px;
  }
  .upsells .content-panel {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .upsells
  .content-panel
  .card-panel
  .name-img-panel
  .name-panel {
    padding-left: 0px !important;
    padding-top: 15px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 468px) {
  .upsells .content-panel {
    flex-direction: column;
  }
}
.upsells .content-panel {
  padding: 10px 20px 10px 0px;
  cursor: pointer;
  font-family: 'Poppins-Medium', sans-serif !important;
  color: #2b4b62;
  /* max-width: 354px; */
  min-height: 170px;
  font-size: 18px;
}
.upsells .content-panel .card-panel {
  padding: 10px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 20%) !important;
}
.upsells .content-panel.selected .card-panel {
  border: 1px solid #e58734;
  position: relative;
}
.upsells .content-panel.selected .card-panel .check-mark {
  border-radius: 30px;
  height: 55px;
  width: 55px;
  background-color: #e58734;
  position: absolute;
  top: 32%;
  bottom: 0;
  left: 50px;
  right: 0;
}
.upsells .content-panel .card-panel .check-mark .checkmark {
  display: none;
}
.upsells
.content-panel.selected
.card-panel
.check-mark
.checkmark {
  color: #fff;
  display: block;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins-Medium';
  text-align: center;
  margin-top: -5px;
  -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
  -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
  transform: scaleX(-1) rotate(-35deg);
}

.upsells .content-panel .card-panel .name-img-panel {
  align-items: center;
  display: flex;
  height: 100%;
}
.upsells
.content-panel.selected
.card-panel
.name-img-panel
.name-panel {
  color: #e58734;
}

.upsells
.content-panel
.card-panel
.name-img-panel
.name-panel {
  padding-left: 20px;
  color: #2b4b62;
}

.upsells
.content-panel
.card-panel
.name-img-panel
.item-image {
  width: 100%;
  display: block;
}
