.selected-toggle-btn.MuiToggleButton-standard {
    background: #214F66;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    margin: 10px 8px 0px 0px !important;
    font-size: 13px;
  }

  .selected-toggle-btn.MuiToggleButton-standard:focus {
    outline: 1px dotted #0075EF !important;
    outline-offset: 2px !important;
  }
  
  .selected-toggle-btn.MuiToggleButton-standard:hover {
    background: #214F66;
  }
  
  .selected-toggle-btn.Mui-selected {
    background: #0075BF !important;
    color: white !important;
  }
  .order-tickmark .selected-toggle-btn.Mui-selected:before {
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 14px;
    width: 6px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    position: absolute;
    left: calc(50% - 28%);
    top: 22%;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
  top: 50px;
}
  .scroll_log {
    overflow-y:auto;
    max-height:350px;
    -webkit-overflow-scrolling: auto;
  }
  .scroll_log::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px !important;
  }
  .scroll_log::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #41617D !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
  }

  .scroll_log::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
  }
  .scroll_log::-webkit-scrollbar-thumb:window-inactive {
    background: #41617D !important;
  }