.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    padding: 16px 84px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 aut;
    flex: 0 0 auto;
}