.stay-connect-bg {
  background-color: transparent;
  background-position: center top;
  background-repeat: no-repeat;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 152px 30px 152px;
}
.stay-connect-bg h2 {
  font-family: 'grit_sansbold' !important;
  font-weight: 700;
  margin: 0;
  font-size: 28.91pt;
  text-transform: uppercase;
  color: #196DB6;
  display: block;
  line-height: 44pt;
  letter-spacing: 2.5px;
  /* padding-bottom: 15px; */
}
.stay-connect-bg p {
  font-family: 'Libre Franklin' !important;
  margin: 0;
  color: #58595b;
  display: block;
  line-height: 25px;
  font-size: 16px;
  font-weight: 400;
}
.stay-connect-actions {
  display: flex;
  padding-bottom: 20px;
}
.stay-connect-actions .panel-cc {
  width: 50%;
}
.stay-connect-bg input {
  width: 100%;
  line-height: 58px !important;
  font-size: 15px;
  padding: 0 1em;
  outline: 0;
  transition: all 0.2s ease;
  border: 1px solid;
  border-radius: 5px;
  font-family: 'Libre Franklin' !important;
  color: #395775;
}
.stay-connect-bg .button-right {
  border-radius: 0px 0px 0px 0px;
  background: #0a6fb8;
  padding-top: 16px;
  padding-bottom: 15px;
  font-family: 'sunbornsans_one' !important;
  font-weight: 700;
  width: 80px;
}
.stay-connect-bg .email-action-panel {
  display: flex;
  padding-top: 0px;
  padding-right: 20px;
}
.stay-connect-bg .msg-status {
  display: flex;
  font-family: 'grit_sansbold' !important;
  font-size: 12px;
  padding: 5px 0;
  visibility: hidden;
  transition: all 0.2s ease;
  min-height: 20px;
}
.stay-connect-bg .msg-status.error {
  color: rgb(151, 3, 3);
  visibility: visible;
}
.stay-connect-bg .msg-status.success {
  color: rgb(3, 129, 3);
  visibility: visible;
}
@media screen and (max-width: 1024px) {
  .stay-connect-bg {
    padding: 30px 52px 30px 52px;
  }

}
@media screen and (max-width: 768px) {
  .stay-connect-bg {
    padding: 30px 16px 30px 16px;
  }
  .stay-connect-bg p {
    font-family: 'Libre Franklin' !important;
    margin: 0;
    color: #58595b;
    display: block;
    line-height: 25pt;
    font-size: 14pt;
    font-weight: 500;
  }
  .stay-connect-bg h2 {
    font-family: 'grit_sansbold' !important;
    font-weight: 700;
    margin: 0;
    font-size: 20.91pt;
    text-transform: uppercase;
    color: #196DB6;
    display: block;
    line-height: 44pt;
    letter-spacing: 2.5px;
    /* padding-bottom: 15px; */
  }

}
@media screen and (max-width: 600px) {
  .stay-connect-bg {
    padding: 30px 10px 30px 10px;
  }
  .stay-connect-actions {
    flex-direction: column;
  }
  .stay-connect-actions .panel-cc {
    width: 100%;
  }
  .stay-connect-bg .email-action-panel {
    padding-top: 40px;
  }
  .stay-connect-bg h2 {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 460px) {
  .stay-connect-bg {
    padding: 30px 20px 30px 20px;
  }
  .stay-connect-actions {
    flex-direction: column;
  }
  .stay-connect-actions .panel-cc {
    width: 100%;
  }
  .stay-connect-bg .email-action-panel {
    padding-top: 40px;
  }
  .stay-connect-bg h2 {
    padding-bottom: 5px;
  }
}