.check-in-section .MuiGrid-grid-xs-12{
  padding-top: 20px
}
.check-in-section img {
  width: 100%;
  height: auto;
}
.receipt-image-box
{
  justify-content: center;
}
.body-text
{
  font-size: 12px !important;
  font-family: 'Poppins-Medium', sans-serif !important;
  color: #414141;
  padding-top: 8px;
}
