.sign-in-section .MuiGrid-grid-xs-12 {
  padding-top: 20px;
}
.sign-in-section .MuiFilledInput-root {
  background-color: #fff !important;
}
.sign-in-section .MuiFilledInput-root:hover,
.sign-in-section .MuiFilledInput-root::before,
.sign-in-section .MuiFilledInput-root::after {
  border: 0 !important;
}
.sign-in-section .form-field {
  margin-bottom: 14px;
}
.sign-in-section button {
  margin-top: 31px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .sign-in-section button {
    width: 50%;
  }
}

