.sign-in-section .MuiGrid-grid-xs-12 {
  padding-top: 20px;
}
.sign-in-section .MuiFilledInput-root {
  background-color: #fff !important;
}
.sign-in-section .MuiFilledInput-root:hover,
.sign-in-section .MuiFilledInput-root::before,
.sign-in-section .MuiFilledInput-root::after {
  border: 0 !important;
}
.sign-in-section .form-field {
  margin-bottom: 14px;
}
.sign-in-section button {
  margin-top: 10px;
  width: 100%;
}
.sign-in-section .forgot-pass {
  font-size: 12px;
  color: #2b4b62;
  font-family: 'Libre Franklin' !important;
  text-decoration: none;
  cursor: 'pointer';
}

@media screen and (max-width: 900px) {
  .sign-in-section button {
    width: 50%;
  }
}

