.order-details-confirmation {
  background: white;
  padding: 50px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: 50px auto 50px auto !important;
}

.order-details-checkout {
  background: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: 0px auto 0px auto !important;
}
.order-details h6 {
  /* font-family: 'sunbornsans_one'!important; */
  font-size: 16px !important;
  color: #58595b;
}
.order-details h6.n-bold {
  /* font-family: 'Poppins-Regular' !important; */
}
.order-details hr {
  background: #285169;
  height: 1px;
}

.help-icon {
  border-radius: 20px;
  width: 18px;
  height: 18px;
  border: 1px solid #2b4b62;
  text-align: center;
  font-family: 'Poppins-Medium', sans-serif !important;
  font-size: 14px;
  margin-left: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .order-details-confirmation {
    background: white;
    padding: 50px;
    border-radius: 0;
    margin: 0 !important;
  }
}
