.invite-section .MuiGrid-grid-xs-12{
  padding-top: 20px
}
.tab-to-copy{
  background-color: #EAEAEA !important;
  color: black !important;
  justify-content: left !important;
  padding-left: 20px !important;
  font-family: 'Librefranklin-Regular' !important;
  font-weight: bold;
}
.copy-text {
  text-transform: initial;
  padding-right: 20px;
}
.body-text
{
  font-size: 15px;
  font-family: 'Librefranklin-Regular' !important;
  color: #414141;
  padding-top: 8px;
}
