.upsells-details .quantity {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 5px 0px 5px;
  width: 90px;
}
.upsells-details .quantity input,
.upsells-details .quantity button {
  height: 30px !important;
  /* padding: 0px 5px !important; */
  background: transparent;
  box-shadow: none;
  min-width: 26px;
}
.upsells-details .quantity-label {
  padding-right: 10px;
  font-family: "Librefranklin-Light" !important;
}
.upsells-details .quantity input {
  text-align: center;
  color: #0069aa;
  font-weight: Bold;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-top: none;
  border-bottom: none;
}
.upsells-details .quantity button {
  font-family: 'Librefranklin-Light' !important;
  font-size: 15px;
  color: #414141;
  font-weight: bold;
}
.upsells-details .quantity fieldset {
  box-shadow: none !important;
}
@media screen and (max-width: 468px) {
  .input-quantity {
    width: 40px !important;
}
  #quantity-label-id {
    font-size: 16px !important;
}
  .upsells-details .quantity {
    margin: 0;
    width: 120px;
    margin-right: 5px;
}
.upsells-details .quantity input {
  text-align: center;
  color: #0069aa;
  font-weight: Bold;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-top: none;
  border-bottom: none;
}
.upsells-details .quantity button {
  font-family: 'Librefranklin-Light' !important;
  color: #414141;
  font-weight: normal;
}
  .upsells-details .quantity input, .upsells-details .quantity button {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 55px !important;
    min-width: 25px !important;
    font-size: 22px;
    padding: 0px !important;
  }
}

.add-side-select {
  width: 100% !important;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #2B4B62;
  padding: 5px;
  text-overflow: ellipsis;
  margin-top: 5px;
  font-family: 'Librefranklin-Light' !important;
}
