.sign-up-section .MuiGrid-grid-xs-12 {
  padding-top: 20px;
}
.sign-up-section .label {
  display: block;
  width: 100%;
}
.sign-up-section h1 {
  margin: 5px 0px 10px 0px;
  font-size: 45px;
}
.sign-up-section .react-date-inputs input {
  width: 10%;
  background: white;
  border: none;
  height: auto;
  -webkit-appearance: none;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2) !important;
  padding: 16px 14px;
  margin: 5px 10px 0px 0px;
  outline: none;
  caret-color: black !important;
}

#select-multiple-native {
  max-height: 90px;
  padding: 5px 15px;
}

.sign-up-section .body-text-fav-error {
  color: #E61F00 !important;
  font-size: 14px !important;
  font-family: 'Poppins-Regular', sans-serif !important;
  padding-top: 8px;
}
.sign-up-section .fav-error-message {
  padding: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;
  color: #E61F00 !important;
}

.css-6j8wv5-Input {
  margin: 0px !important;
  padding: 0;
}
#react-select-3-input{
  height: auto;
  padding: 0px 0px 0px 7px !important;
  caret-color: black !important;
  line-height: 10px;
}

.css-1jwi8f4-singleValue {
  margin-left: 8px !important;
}