.profile-section .MuiGrid-grid-xs-12 {
  padding-top: 20px;
}
.profile-section .MuiFilledInput-root {
  background-color: #fff !important;
}
.profile-section .MuiFilledInput-root:hover,
.profile-section .MuiFilledInput-root::before,
.profile-section .MuiFilledInput-root::after {
  border: 0 !important;
}
.birthday-button {
  background-color: #eaeaea !important;
  color: black !important;
  justify-content: left !important;
  padding-left: 20px !important;
  text-transform: initial;
}

.date {
  width: 80%;
  text-align: left;
}
.bday-text {
  font-family: 'sunbornsans_one' !important;
  padding-right: 10px;
}
.birthday-button span {
  text-transform: initial;
}
.body-text {
  font-size: 15px;
  font-family: 'grit_sansbold' !important;
  color: #414141;
  padding-top: 8px;
}
