@media screen and (max-width: 468px) {
  .adjust-space {
    padding-left: 0;
    margin-top: -20px;
  }
}

.heading-one{
  color: #0075BF;
  font-family: 'Sunborn_Sansone' !important;
    font-size: 14px !important;
    font-weight: 400;
    text-transform: uppercase;
}