.redeem-sec .body-text {
  font-size: 16px !important;
  font-family: 'Poppins-Medium', sans-serif !important;
  color: #414141;
  padding-top: 8px;
  padding-bottom: 25px;
}
.redeem-sec .reward-item {
  padding: 10px;
}
.redeem-sec .rewards {
  min-height: 95px;
  max-height: 95px;
  margin: 10px 0px;
}
.redeem-sec .item-image {
  width: 100%;
  height: auto;
}
.redeem-sec .item-name span {
  font-family: 'Poppins-Medium';
  font-size: 18px;
  text-align: left !important;
  color: #2b4b62;
  padding: 10px;
  line-height: 25px;
  letter-spacing: normal;
}


@media screen and (max-width: 468px) {
  .redeem-sec .rewards {
    min-height: auto;
  }
}
