.order-confirmation {
  position: relative;
}
.order-confirmation .MuiPaper-root {
  padding: 95px;
  min-height: 625px;
  max-height: 0px;
}
.order-confirmation .MuiTextField-root {
  width: 100%;
}
.white {
  color: white;
  padding-right: 60px;
}
h6.white {
  padding-right: 15px;
}
.order-confirmation button {
  width: 40%;
  margin-top: 7px;
  margin-right: 4px;
  float: right !important;
}
.order-confirmation input {
  background: white;
  width: 100%;
  height: 35px;
  padding: 5px 5px 5px 20px !important;
  margin: 0px 5px 10px 0px;
  line-height: 0 !important;
}
.order-confirmation fieldset {
  border: none !important;
  box-shadow: none !important;
}
.order-confirmation .card {
  background-color: #2b4b62;
  background-image: url("../../assets/imgs/rewards_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

}

.order-bg {
  background-image: url("../../assets/imgs/yellow-bg.png");
}
.order-confirmation .phone-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -165px;
}
@media screen and (max-width: 1200px){
.order-confirmation .MuiPaper-root {
  padding: 95px;
  min-height: 810px;
  max-height: 880px;
}
.order-confirmation .phone-icon {
  position: absolute;
  bottom: 0;
  left: 60%;
  margin-left: -165px;
}
}
@media screen and (max-width: 900px) {
  .order-confirmation .card {
    padding: 55px 30px 65px;
    max-height: initial !important;
    min-height: 265px;
  }
  .order-confirmation .card .earn-reward {
    width: 100% !important;
    max-width: 100% !important;
    flex-basis: 100%;
  }
  .order-confirmation .card.next-order {
    /* background-image: none !important; */
    max-height: 435px;
    min-height: 660px;
  }
  .order-confirmation .card.next-order .earn-reward {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .order-confirmation .order-info {
    padding: 45px 30px 15px;
    min-height: 325px;
  }
  .order-confirmation .order-info br:nth-child(1) {
    display: none;
  }
  .order-confirmation h1 {
    font-size: 30px !important;
    padding-right: 25px;
  }
  .order-confirmation .phone-icon {
    left: 0 !important;
    margin-left: 0px !important;
  }
  .order-confirmation .card.next-order button {
    width: 98.8%;
  }
  .order-confirmation button {
    width: 50%;
    padding: 30px 0px;
    float: left !important;
  }
}
@media screen and (max-width: 468px) {
  .order-confirmation .card.next-order {
    max-height: 990px;
    min-height: 980px;
  }
  .order-confirmation .order-info {
    padding: 45px 30px 55px;
  }
  .order-confirmation .card {
    background-size: cover;
  }
  .order-confirmation .white {
    padding-right: 0px;
  }
  .order-confirmation button {
    width: 100%;
  }
  .order-confirmation h1 {
    font-size: 28px !important;
  }
  .order-confirmation .card.next-order .earn-reward {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}

.register-confirmation-select {
  background-color: #ffffff;
  margin: 0px 5px 5px 0px;
  height: 47px;
}

.order-details h2{
  font-family: 'Sunborn-Sansone' !important;
  color: #062C43;
  font-size: 36px !important;
}

.hours-text {
     position: absolute;
     bottom: 25px;
}

@media (max-width: 768px) {
.hours-text {
  bottom: 6px;
}
}


