.fix-span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.9 !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.react-multi-carousel-list {
  /* overflow: scroll !important; */
}
.react-multi-carousel-list.carousel-container  button.react-multiple-carousel__arrow--left,
.react-multi-carousel-list.carousel-container  button.react-multiple-carousel__arrow--right {
  background: #2b4b62 !important;
  border-radius: 30px !important;
  width: 50px;
  height: 50px;
}
.react-multi-carousel-list.carousel-container  button.react-multiple-carousel__arrow--left:before,
.react-multi-carousel-list.carousel-container  button.react-multiple-carousel__arrow--right:before {
  color: white !important;
  font-size: 38px;
  font-weight: bold;
}
.carousel-container .title {
  min-height: 45px;
}
.carousel-container .custom-btn.cta2-btn {
  background: white !important;
  color: #0069aa !important;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2) !important;
}

.MuiTabs-root .Mui-disabled {
  display: none;
}

@media (max-width: 464px) {
  .react-multi-carousel-track > li:only-child {
    transform: translate3d(-50px, 0px, 0px) !important;
  }
}
