.product-detail {
  padding: 60px 100px;
  box-sizing: border-box;
  margin: auto;
}

legend.heading-ui, h2.heading-ui {
  font-size: 24px;
  font-family: 'sunbornsans_one' !important;
  color: #062C43;
  text-transform: uppercase;
}

fieldset.field-set {
border: 0 !important;
box-shadow: none !important;
margin-bottom: 20px;
}

.product-detail h2.heading {
  font-family: 'grit_sansbold' !important;
  padding-bottom: 15px;
  font-size: 32px;
  color: #0075BF;
  margin-top: 14px;
  text-transform: uppercase;
}

.product-detail .label.bold {
  font-family: 'sunbornsans_one' !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  line-height: 1.2;
}

.product-detail .desc {
  margin-bottom: 25px;
  color: #062C43;
  font-family: 'libre_franklin' !important;
  font-size: 16px !important;
  white-space: pre-line;
}

.product-detail .price {
  font-family: 'sunbornsans_one' !important;
  margin-bottom: 25px;
  color: #062C43;
  font-size: 16px !important;
}

.product-detail .single-product {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 5px 0px 5px !important;
  margin: 70px 0px;
}

.product-detail .single-product .custom-btn {
  font-family: 'sunbornsans_one' !important;
  float: right;
  font-size: 13px;
  color: #1781c4;
}

.product-detail .menu-items h2 {
  text-transform: uppercase;
  width: 100%;
  font-size: 25px;
  padding-bottom: 10px;
}

input[type='check']:checked+label {
  opacity: 1;
  border: 5px solid #ccc;
}

.product-detail .action-panel {
  margin-top: 30px;
  width: 100%;
  padding: 20px 5px;
  background: #fff;
  z-index: 1000;
}

.product-detail h3, legend.heading-ui.h3 {
  text-transform: uppercase;
  color: #0069aa;
  font-weight: 500;
  font-family: 'grit_sansbold' !important;
  font-size: 18px;
  padding-bottom: 10px;
}

.product-detail .add-to-bag {
  width: 265px;
  height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: flex-start;
  position: relative;
}

.product-detail .quantity {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 30px 0px 30px;
  width: 200px;
}

.product-detail .quantity input,
.product-detail .quantity button {
  height: 60px !important;
  /* padding: 0px 5px !important; */
  background: transparent;
  box-shadow: none;
}

.product-detail .quantity input {
  text-align: center;
  color: #0069aa;
  font-weight: Bold;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.product-detail .quantity button {
  font-family: 'libre_franklin' !important;
  font-size: 30px;
  color: #414141;
}

.product-detail .quantity fieldset {
  box-shadow: none !important;
}

.ph-fix {
  padding-right: 20px;
}

@media screen and (max-width: 1180px) {
  .product-detail {
    padding: 40px;
  }

  .product-detail img {
    width: 100%;
  }

  .product-detail .custom-btn {
    float: left !important;
  }

  .product-detail h2 {
    font-size: 24px;
  }

  .product-detail .menu-items .content-panel.selected .card-panel .check-mark {
    margin: auto;
    left: 0 !important;
    right: 0 !important;
    top: 35px !important;
    bottom: auto !important;
  }

  .options-cals {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .ss-panl {
    display: block;
    margin: auto;
    margin-top: 8px;
  }

  .product-detail .menu-items .content-panel .card-panel .name-img-panel .item-image {
    display: block;
    margin: auto;
    height: 100% !important;
    width: auto;
  }

  .product-detail .menu-items .content-panel .card-panel .name-img-panel {
    align-items: flex-start !important;
    /*margin-left: -5px !important;*/
  }

  .product-detail .menu-items .content-panel .card-panel {
    padding: 0px 10px 20px 10px !important;
  }

  .product-detail .menu-items .content-panel .card-panel .name-img-panel .name-panel {
    padding-left: 0px !important;
    padding-top: 15px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 16px;
  }

  .product-detail .menu-items .content-panel .card-panel .name-img-panel .name-panel .options-cals-price {
    justify-content: center;
  }
}

.product-detail .action-panel {
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 5px;
  background: #fff;
  z-index: 1000;
}

.product-detail .action-panel .content-panel {
  display: flex;
  align-items: center;
  justify-content: end;
  -webkit-justify-content: flex-end;
  /* align-items: flex-end; */
  -webkit-align-items: flex-end;
  /* margin-left: 50%; */
}

.ss-panl {
  z-index: 10;
  display: block;
  margin-top: 8px;
  border: 2px solid #ddd;
  padding: 6px 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'grit_sansbold' !important;
  font-size: 12px;
  color: #2b4b62;
}

@media screen and (max-width: 1180px) {
  .options-cals {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 899px) {
  .product-detail .menu-items .content-panel .card-panel .name-img-panel .name-panel {
    padding-left: 0px !important;
    padding-top: 15px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 15px;
  }

  .product-detail .action-panel .content-panel {
    justify-content: center;
    align-items: center;
  }

  .product-detail h5 {
    padding-bottom: 0px;
  }

  .product-detail .menu-items .content-panel.selected .card-panel.no-image-class .name-img-panel .name-panel {
    color: #e58734;
    position: relative !important;
    width: 100%;
    /* margin: 0 auto; */
    left: auto !important;
    top: 0px !important;
    margin-left: 0px !important;
    text-align: center !important;
  }

  .product-detail .menu-items .content-panel .card-panel.no-image-class .name-img-panel .name-panel {
    position: relative !important;
    width: 100%;
    /* margin: 0 auto; */
    left: auto !important;
    top: 0px !important;
    margin-left: 0px !important;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .product-detail .menu-items .content-panel .card-panel .name-img-panel .name-panel {
    padding-left: 0px !important;
    padding-top: 15px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 14px;
  }

  .product-detail {
    padding: 40px 20px;
  }
  .product-detail .quantity {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 0px 5px 0px 5px;
    width: 200px;
  }
  .product-detail .add-to-bag {
    width: 265px;
    height: 60px;
    box-sizing: border-box;
    justify-content: flex-start;
    position: relative;
  }
  /* .quantity-label {
    padding-right: 10px;
    font-size: 16px !important;
  } */


.sp-mobile {
  display: none;
}
}


@media screen and (max-width: 468px) {
  .action-panel .content-panel {
    flex-direction: row;
  }

  .button-panel-sx {
     width: 240px;
    /*margin-bottom: 20px;*/
    margin-left: 18px;
    justify-content: flex-end;
  }
  /* .product-detail .quantity input {

    color: #0069aa;
    font-weight: Bold;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-radius: 0px !important;
} */
  .product-detail .action-panel .content-panel {
    justify-content: center;
    align-items: center;
  }
  .product-detail .add-to-bag {
    width: 300px;
    font-size: 12px;
  }

  .quantity-label {
    padding-right: 10px;
    font-size: 18px !important;
  }

  .sp-mobile {
    display: block;
  }
  #quantity-label-id {
    font-size: 13px !important;
  }
  .input-quantity {
    width: 40px !important;
  }
  .product-detail .quantity input, .product-detail .quantity button {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 55px !important;
    min-width: 25px !important;
    font-size: 22px;
  }
  .input-quantity {
    width: 70px;
    border: none;
    border-top: none;
    border-bottom: none;
    font-size: 15px;
    font-family: 'libre_franklin' !important;
    font-weight: bold;
}
  .quantity-label {
    display: inline;
  }

  .product-detail .menu-items h2 {
    font-size: 23px;
    padding-bottom: 0px;
  }

  .product-detail .action-panel {
   padding: 20px 5px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  }

  .product-detail {
    padding: 20px;
  }

  .ph-fix {
    order: 2;
    padding-top: 20px;
  }

  .img {
    border-radius: 10px;
  }

  .product-detail .quantity {
    margin: 0;
    width: 120px;
    margin-right: 5px;
  }
}

.dummy-bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: 'rgba(0, 0, 0, 0)';
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.product-detail .menu-items .content-panel {
  padding: 10px 20px 10px 0px;
  cursor: pointer;
  font-family: "'grit_sansbold' !important";
  color: #2b4b62;
  /* max-width: 354px; */
  min-height: 140px;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.product-detail .menu-items .content-panel .card-panel {
  /*padding: 10px;*/
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 20%) !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border: 1px solid #d3d3d3;
  -moz-border: 1px solid #d3d3d3;
  outline: 0;
}

.product-detail .menu-items .content-panel.selected .card-panel {
  border: 1px solid #0073BD;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border: 1px solid #0073BD;
  -moz-border: 1px solid #0073BD;
  outline: 0;
}

.product-detail .menu-items .content-panel.selected .card-panel .check-mark {
  border-radius: 30px;
  height: 55px;
  width: 55px;
  background-color: #0073BD;
  position: absolute;
  top: 28%;
  bottom: 0;
  left: 25px;
  right: 0;
}

.product-detail .menu-items .content-panel .card-panel .check-mark .checkmark {
  display: none;
}

.product-detail .menu-items .content-panel.selected .card-panel .check-mark .checkmark {
  color: #fff;
  display: block;
  font-size: 40px;
  font-weight: bold;
  font-family: 'grit_sansbold' !important;
  text-align: center;
  margin-top: -5px;
  -ms-transform: scaleX(-1) rotate(-35deg);
  /* IE 9 */
  -webkit-transform: scaleX(-1) rotate(-35deg);
  /* Chrome, Safari, Opera */
  transform: scaleX(-1) rotate(-35deg);
}

.product-detail .menu-items .content-panel .card-panel .name-img-panel {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.product-detail .menu-items .content-panel.selected .card-panel .name-img-panel .name-panel {
  color: #0073BD;
  word-break: break-word;
}

.product-detail .menu-items .content-panel .card-panel .name-img-panel .name-panel {
  padding-left: 24px;
  color: #2b4b62;
}

.product-detail .menu-items .content-panel.selected .card-panel.no-image-class .name-img-panel .name-panel {
  color: #0073BD;
  /*margin-left: -103px;*/
  position: inherit;
}

.product-detail .menu-items .content-panel .card-panel.no-image-class .name-img-panel .name-panel .options-cals-price {
  justify-content: center;
}

.product-detail .menu-items .content-panel .card-panel.no-image-class .name-img-panel .name-panel .options-cals-price .value  {
  margin-left: 0;
}

.product-detail .menu-items .content-panel .card-panel.no-image-class .name-img-panel {
  justify-content: center;
}


.product-detail .menu-items .content-panel .card-panel.no-image-class .name-img-panel .name-panel {
  position: absolute;
  width: 100%;
  /* margin: 0 auto; */
  /*left: 60%;*/
  /*margin-left: -122px;*/
  text-align: center;
}

.product-detail .menu-items .content-panel .card-panel .name-img-panel .item-image {
  width: auto;
  height: 100%;
  display: block;
}

.input-quantity {
  width: 70px;
  /* border: none; */
  border-top: none;
  border-bottom: none;
  font-size: 15px;
  font-family: 'libre_franklin' !important;
  font-weight: bold;
}
