#reward-points-container .reward-point-panel {
  padding: 22px 10px;
  border-radius: 0px;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 20%);
  font-family: 'grit_sansbold' !important;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
  color: #2b4b62;
  margin-bottom: 45px;
  box-sizing: border-box;
}
.body-text-bold-reward {
  font-size: 16px !important;
  font-family: 'sunbornsans_one' !important;
  color: #414141;
  padding-top: 8px;
  padding-bottom: 20px;
}

.body-text-bold-redeem {
  font-size: 16px !important;
  font-family: 'sunbornsans_one' !important;
  color: #414141;
  padding-bottom: 20px;
}
.body-text-bold-redeem.disable {
  color: #91a6b2;;
}
#reward-points-container hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 40px 0;
}
#reward-points-container hr.low {
  margin: 20px 0 25px 0;
}
#reward-points-container .bold-title {
  font-family: 'sunbornsans_one' !important;
  font-size: 30px;
  text-transform: uppercase;
}

#reward-points-container .small-heading {
  font-family: 'sunbornsans_one' !important;
  font-size: 25px;
  text-transform: uppercase;
  color: #2b4b62;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
#reward-points-container .help-icon {
  border-radius: 20px;
  width: 18px;
  height: 18px;
  border: 1px solid #2b4b62;
  text-align: center;
  display: inline-block;
  font-family: 'grit_sansbold' !important;
  font-size: 14px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reward-points-container .reward-point-merge-panel {
  border-radius: 0px;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 20%);
  font-family: 'sunbornsans_one' !important;
  text-align: center;
  color: #2b4b62;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  min-height: 125px;
}
#reward-points-container a {
  text-decoration: none;
  color: #2b4b62;
  display: block;
}
#reward-points-container .reward-point-merge-panel .content-panel {
  align-content: stretch;
  text-align: left;
  height: 100%;
  align-items: flex-start;
}
#reward-points-container
  .reward-point-merge-panel
  .content-panel
  .img-panel
  img {
  display: block;
  width: 100%;
}
#reward-points-container
  .reward-point-merge-panel
  .content-panel
  .content-panel-desc {
  padding-left: 15px;
  position: relative;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
#reward-points-container
  .reward-point-merge-panel
  .content-panel
  .content-panel-desc
  .title-heading {
  font-size: 16px;
  overflow: hidden;
  line-height: 1.2;
  word-wrap: break-word;
}
#reward-points-container
  .reward-point-merge-panel
  .content-panel
  .content-panel-desc
  .expire {
  font-size: 11px;
  color: #333;
  font-family: 'sunbornsans_one' !important;
  display: block;
  padding: 3px 0px 5px 0px;
}
#reward-points-container
  .reward-point-merge-panel
  .content-panel
  .content-panel-desc
  .points {
  font-size: 11px;
  padding-top: 2px;
  margin-bottom: 2px;
  color: #333;
  font-family: 'sunbornsans_one' !important;
  text-transform: uppercase;
}
#reward-points-container .reward-point-merge-panel .button {
  margin: 0;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'sunbornsans_one' !important;
  color: #0075bf;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
#reward-points-container .reward-point-merge-panel .button.disable {
  color: #b1b1b1;
  cursor: default;
}
#reward-points-container .bold-title.dd {
  font-size: 22px;
  color: #2b4b62;
  padding: 5px 0;
}
#reward-points-container .bold-title.dd.disable {
  font-size: 22px;
  color: #91a6b2;
  padding: 5px 0;
}
#reward-points-container .message-panel {
  padding: 0px 0 5px 0;
  font-family: 'grit_sansbold' !important;
  font-size: 15px;
  color: #333;
}
#reward-points-container .message-panel h3 {
  font-size: 25px;
  color: #2b4b62;
  font-family: 'sunbornsans_one' !important;
  line-height: 32px;
}
#reward-points-container .message-panel .low-head {
  font-size: 18px;
  font-family: 'sunbornsans_one' !important;
  text-transform: uppercase;
  color: #2b4b62;
  margin: 15px 0px 5px 0;
}
#reward-points-container .message-panel .back-link {
  font-family: 'grit_sansbold' !important;
  letter-spacing: 2px;
  margin-top: 30px;
  color: #2b4b62;
  font-size: 13px;
  cursor: pointer;
}
#reward-points-container .pp-oo {
  padding-right: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 1199px) {

  #reward-points-container
  .reward-point-merge-panel
  .content-panel
  .content-panel-desc
  .points {
  margin-bottom: 5px;
}
  #reward-points-container .reward-point-merge-panel .content-panel {
    height: 100%;
    align-content: space-between;
  }
  #reward-points-container .reward-point-merge-panel {
    height: 100%;
  }
  #reward-points-container .reward-point-panel {
    max-width: none;
    width: 98%;
  }
  #reward-points-container .reward-point-merge-panel .button {
    position: relative;
    margin-top: 10px;
  }
  #reward-points-container
    .reward-point-merge-panel
    .content-panel
    .content-panel-desc {
    padding-left: 0px;
    padding-top: 10px;
    height: auto;
  }
}
@media screen and (max-width: 640px) {
  #reward-points-container .message-panel {
    padding-top: 30px;
  }
  #reward-points-container .bold-title {
    font-size: 35px;
  }
  #reward-points-container hr {
    display: none;
  }
  #reward-points-container .small-heading {
    font-size: 22px;
  }
  #reward-points-container .reward-point-panel {
    margin-bottom: 30px;
  }
}
