.reward-point-qr {
  border-radius: 0px;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 20%);
  height: 150px;
  width: 150px;
}
.p-detail {
  font-family: 'Poppins-Regular', sans-serif !important;
  font-size: 18px;
  color: #2b4b62;
  width: 100%;
  max-width: 370px;
  line-height: 20px;
  margin-bottom: 30px;
}
