.gift-cards-panel {
  padding-top: 25px;
  max-width: 820px;
  padding-left: 25px;
}

.gift-cards-panel .card-panel {
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  padding: 15px 15px 20px 20px;
  box-sizing: border-box;
  position: relative;
  box-shadow: none;
  margin-left: -25px;
  margin-right: 25px;
}

.gift-cards-panel .card-panel .panel {
  padding: 0;
  padding-left: 25px;
}

.gift-cards-panel .card-panel .panel h6 {
  font-size: 16px !important;
  font-family: 'grit_sansbold' !important;
  font-weight: 500;
}

.gift-cards-panel .card-panel .order-Link {
  display: flex;
  padding-bottom: 0px;
  text-align: right;
  text-transform: uppercase;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
}
.gift-cards-panel .card-panel .order-Link a,
.gift-cards-panel .card-panel .order-Link button {
  font-size: 15px;
  display: block;
  color: #b9b9b9;
  font-family: 'grit_sansbold' !important;
  height: auto;
  padding: 0;
  padding-left: 15px;
  font-weight: 600;
 }

.gift-cards-panel .card-panel .order-Link button.default {
  color: #0075BF;
}

.gift-cards-panel .card-panel .order-Link a {
  text-decoration: none;
}

.button-add-card{
    width: 100%;
    background-color: #0075BF;
    height: 53px;
    display: block;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 53px;
}
