header {
  overflow: hidden;
}
#header-container {
  width: 100%;
  background-color: #fff;
}
#header-container #logo {
  padding: 14px 60px;
  box-sizing: border-box;
  float: left;
}
#header-container #content-panel {
  color: #0069aa;
  float: right;
}
#header-container #content-panel .content {
  width: 100%;
  color: #0069aa;
  display: flex;
  height: 76px;
}
#header-container #content-panel .content .menu-text {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 40px;
  padding-top: 30px;
  box-sizing: border-box;
  font-family: 'Poppins-Bold', sans-serif;
}

#header-container #content-panel .content .menu-text a {
  color: #0069aa;
  text-decoration: none;
}

#header-container #content-panel .content .cart-icon {
  background-color: #0a6fb8;
  width: 140px;
}

#header-container #content-panel .content .cart-icon img {
  margin: auto;
  display: block;
  margin-top: 11px;
}

#header-container #content-panel .menu-icon {
  display: none;
}

@media only screen and (max-width: 1023px) {
  #header-container #logo {
    padding: 14px 30px;
  }
}

@media only screen and (max-width: 767px) {
  #header-container #logo {
    padding: 14px 0 14px 20px;
    max-width: 206px;
  }

  #header-container #content-panel .content {
    display: none;
  }

  #header-container #content-panel .menu-icon {
    display: inline-block;
    padding-top: 25px;
    padding-right: 22px;
  }
}
