.welcome-wrapper {
  margin: 62px 139px !important;
}
.welcome-wrapper .welcome-content {
  background: white;
  display: flex;
  justify-content: flex-start;
  padding: 77px 75px 88px 93px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.welcome-content h4 {
  margin-bottom: 23px;
  font-size: 49px;
}
.welcome-content h5 {
  margin: 10px 0px 10px 0px;
}
.welcome-content .left-col {
  border-right: 1px solid #0069aa;
  padding-right: 58px;
  margin-right: 66px;
}
.welcome-content .left-col .p-card {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #d6d6d6;
  padding: 17px;
  margin-top: 23px;
  position: relative;
}
.welcome-content .left-col .p-card img {
  width: 30%;
  height: 100%;
  margin-right: 10px;
}
.welcome-content .order-action {
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 20px;
}
.welcome-content .order-action .caption-grey {
  font-family: 'Poppins-Bold' !important;
  color: #a4a4a4;
}
.welcome-content .order-action .button {
  font-family: 'Poppins-Bold' !important;
  font-size: 13px !important;
}

.welcome-content .left-col .p-card button {
  margin: 15px 0px 0px 0px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px !important;
  letter-spacing: 2px;
}
.welcome-content .p-card .MuiCardContent-root {
  padding: 0px 10px;
}
.welcome-content .right-col button {
  margin-top: 10px;
  width: 100%;
}
.welcome-content .right-col .res-info {
  margin-bottom: 15px;
}
.welcome-content .caption-grey {
  font-size: 12px;
  text-decoration: none;
  font-family: 'Poppins-Regular' !important;
  margin-left: 5px;
}

@media screen and (max-width: 900px) {
  .welcome-content {
    padding: 35px !important;
  }
  .left-col {
    border-right: none !important;
    padding: 0px !important;
    margin: 0px 0px 15px 0px !important;
  }
  .p-card {
    display: block !important;
  }
  .p-card img {
    float: left;
  }
}

@media screen and (max-width: 468px) {
  .welcome-wrapper {
    margin: 15px !important;
  }
  .welcome-content {
    padding: 30px 20px !important;
  }
  .welcome-content h4 {
    font-size: 25px;
  }
  .p-card img {
    width: 100% !important;
  }
  .p-card .order-action {
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: auto;
    right: auto;
  }
  .p-card button {
    margin: 20px 0px 0px 0px !important;
    padding: 0px;
    font-size: 13px;
  }
}
