.add-favourite {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

@media(max-width: 600px){
  .add-favourite {
    font-size: 11px;
  }
}
.css-1q60rmi-MuiAutocomplete-endAdornment{
  top: calc(25% - 11px);
}