footer{
  overflow: hidden;
}
#footer-container {
  background: #224c65;
  padding: 30px 70px;
  box-sizing: border-box;
}

#footer-container .img-logo {
  width: 236px;
}

#footer-container #main-menu {
  width: 95%;
}

#footer-container #main-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0px;
  box-sizing: border-box;
}

#footer-container #main-menu ul li a {
  color: #fff;
  font-family: 'Poppins-Bold', sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

#footer-container #links-panel ul li a {
  color: #fff;
  font-family: 'Poppins-Bold', sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1023px) {
  #footer-container {
    background: #224c65;
    padding: 30px;
    box-sizing: border-box;
  }
  #footer-container .img-logo {
    width: 186px;
  }
}

@media only screen and (max-width: 767px) {
  #footer-container {
    padding: 50px 20px;
  }

  #footer-container #main-menu ul {
    flex-direction: column;
  }
}
