 .footer-control {
   margin-bottom: 175px;
 }
  .list {
        width: 100%;
        display: grid;
        list-style: none;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        padding-left: 10px;
      }

@media screen and (max-width: 900px) {
    .list
    {
        grid-template-columns: auto auto;

    }
    }
