.delivery-address-text {
  padding: 0px;
  font-size: 11px;
  display: block;
  color: #414141;
  font-family: 'Sunborn_Sansone'!important;
  letter-spacing: 0.5px;
}

.delivery-heading-text {
  display: inline;
  font-size: 11px;
  font-family: 'GritSans-Bold' !important;
  display: block;
  color: #0075BF;
  letter-spacing: 0.7px;
}
.delivery-heading-edit{
  display: inline-flex;
  font-size: 12px;
  font-family: 'GritSans-Bold' !important;
  color: #0075BF;
  letter-spacing: 0.7px;
}