label.time-picker:focus-within {
  border: 1px solid #ccc;
}
.native-select .MuiNativeSelect-icon {
  fill: #fff;
}
.native-select .MuiNativeSelect-select {
  height: 44px !important;
  text-align: center !important;
  text-align-last: center !important;
  font-family: 'Librefranklin-Light' !important;
  font-size: 15px;
  height: 50px;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 20%) !important;
  text-transform: uppercase;
  border-radius: 0 !important;
  letter-spacing: 2.25px !important;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-change{
  font-family: "Librefranklin-Light" !important;
}
.native-select .MuiNativeSelect-select {
  color: #fff;
  padding-left: 15px !important;
}
.native-select .MuiNativeSelect-select option {
  color: #000;
  margin: 0 auto !important;
}
.native-select.MuiInputBase-root.MuiInput-root {
  margin-top: 0px !important;
}
.time-slot-selected .native-select.MuiInputBase-root.MuiInput-root::after {
  border-bottom: 3px solid #000000;
}
.native-select.MuiInputBase-root.MuiInput-root::after {
  border-bottom: 3px solid #B5B5B5;
}
.order-date .MuiInputAdornment-root {
  margin-right: 14px;
}
.order-date .MuiInputBase-root.MuiOutlinedInput-root {
  width: 100%;
  max-width: 320px;
  margin-bottom: 20px;
}
.MuiButtonBase-root.MuiPickersDay-root:focus,
.MuiButtonBase-root.MuiPickersDay-root:hover {
  background-color: '#062C43';
  color: #fff;
}
.MuiButtonBase-root.MuiPickersDay-root:focus.Mui-selected {
  background-color: #0073BD;
}